/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/


@use 'reset';
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	// box-sizing: border-box;
	// font-family: Arial, Helvetica, sans-serif;
}

body {
	
	display: grid;
	// grid-template-columns: 10% 20% 20% 20% 20% 10%;
	// grid-template-rows: 10% 10% 8% 8% 15% 25% 10% 10% 8% 20% 20% 20%;
	// grid-template-columns: auto;
	// grid-template-rows: 20% 30% 30% 20%;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	
		@media screen and (min-width: 600px) {
			
			grid-template-rows: repeat(3, 1fr);
		}

	

	.grid-container{
		// grid-template-columns: 10% 20% 20% 20% 20% 10%;
		// grid-template-rows: 10% 20% 10% 20% 20% 20;
	
		background: white;
		margin-top: 10px;
		margin: 0 auto;

			
		

			.grid-box-one{
				// grid-column: 1/7;
				// grid-row: 1/5;
				margin: 15px;

				.grid-box-one-header{
					grid-column: 1/4;
					grid-row: 1;
					font-family: variables.$main-font;
					color: #48556A;
					font-size: 26px;
					margin:2rem 2rem 0rem 2rem;
					text-align: left;
					line-height: 30px;
					
				}
				.grid-box-one-para{
					font-family: Helvetica;
					@extend .grid-box-one-header;
					font-size: 16px;
					line-height: 30px;
					margin-top: 1.5rem;
					margin-bottom:1.5rem ;
		
				}
				.grid-box-one-persona{
					display: flex;
					flex-direction: row;
					align-content: center;
					margin-bottom: 2rem;
					margin-left: 16rem;

					.flex-grid-one{
						display: flex;
						flex-direction: column;
						padding: 10px;
						.box-one-name{
							font-family: Helvetica;
							font-size: 14px;
							margin-bottom: 5px;
							}
						.box-one-title{
							color: #8f949c;
							font-family: Helvetica;
							font-size: 12px;
							}	
						}

					img{
						width:50px;
						border-radius: 50%;
						border: solid gray 2px;
					}
				}
			}
			.grid-box-two{

				background: #19202D;
				padding-bottom: 1rem;
				
				.grid-box-two-header{
					font-family: variables.$main-font;
					color: white;
					font-size: 26px;
					margin:2rem 2rem 0rem 3rem;
					text-align: left;
					line-height: 30px;
				}
				.grid-box-two-para{
					font-family: Helvetica;
					@extend .grid-box-two-header;
					font-size: 17px;
					line-height: 30px;
					margin-top: 1.5rem;
					margin-bottom:1.5rem;
					color: #8f949c;
		
				}
				.grid-box-two-persona{
				display: flex;
				align-content: center;
				margin-bottom: 2rem;
				margin:2rem 2rem 0rem 3rem;
				padding-top: 2rem;

				.flex-grid-two{
					display: flex;
					flex-direction: column;
					padding: 10px;
					.box-two-name{
						font-family: Helvetica;
						font-size: 14px;
						color: white;
						margin-bottom: 5px;
					}
					.box-two-title{
						color: #48556A;
						font-family: Helvetica;
						font-size: 12px;
					}	
					}
				img{
					width:50px;
					border-radius: 50%;
					border: solid gray 2px;
				}
			}
			}
			.grid-box-three{

			background: white;
			// padding-bottom: 1rem;
			
			.grid-box-three-header{
				font-family: variables.$main-font;
				color: #48556A;
				font-size: 26px;
				margin:2rem 2rem 0rem 3rem;
				text-align: left;
				line-height: 30px;
			}
			.grid-box-three-para{
				font-family: Helvetica;
				@extend .grid-box-three-header;
				font-size: 17px;
				line-height: 30px;
				margin-top: 1.5rem;
				margin-bottom:.5rem;
				color: #8f949c;
	
			}
			.grid-box-three-persona{
			display: flex;
			align-content: center;
			margin:2rem 2rem 1rem 3rem;
			margin-left: 16rem;

			.flex-grid-three{
				display: flex;
				flex-direction: column;
				padding: 10px;
				.box-three-name{
					font-family: Helvetica;
					font-size: 14px;
					color:  #48556A;
					margin-bottom: 5px;
				}
				.box-three-title{
					color: #8f949c;
					font-family: Helvetica;
					font-size: 12px;
				}	
				}
			img{
				width:50px;
				border-radius: 50%;
				border: solid gray 2px;
			}
		}
			}		
			.grid-box-four{
			background: #CB1E7B;
			padding-bottom: 1rem;
			
			
			.grid-box-four-header{
				font-family: variables.$main-font;
				color: white;
				font-size: 26px;
				margin:2rem 2rem 0rem 3rem;
				text-align: left;
				line-height: 30px;
				
			}
			
			.grid-box-four-para{
				@extend .grid-box-four-header;
				font-family: Helvetica;
				font-size: 17px;
				line-height: 30px;
				margin-top: 1.5rem;
				margin-bottom:1.5rem;
				color: #CFCFCF;
	
			}
			
			.grid-box-four-persona{
				display: flex;
				align-content: center;
				margin-bottom: 2rem;
				margin:2rem 2rem 0rem 3rem;
				padding-top: 2rem;

			.flex-grid-four{
				display: flex;
				flex-direction: column;
				padding: 10px;
				.box-four-name{
					font-family: Helvetica;
					font-size: 14px;
					color: white;
					margin-bottom: 5px;
				}
				.box-four-title{
					color: #bdbdbd;
					font-family: Helvetica;
					font-size: 12px;
				}	
				}
			img{
				width:50px;
				border-radius: 50%;
				border: solid #A31862 2px;
			}
		}
			}
			.grid-box-five{
			background: white;

			.grid-box-five-header{
				font-family: variables.$main-font;
				color: #48556A;
				font-size: 26px;
				margin:2rem 2rem 0rem 3rem;
				text-align: left;
				line-height: 30px;
				
			}
			
			.grid-box-five-para{
				@extend .grid-box-five-header;
				font-family: Helvetica;
				font-size: 17px;
				line-height: 30px;
				margin-top: 1.5rem;
				margin-bottom:1.5rem;
				color: #969696;
	
			}
			
			.grid-box-five-persona{
				display: flex;
				align-content: center;
				margin-bottom: 2rem;
				margin:2rem 2rem 0rem 3rem;
				

			.flex-grid-five{
				display: flex;
				flex-direction: column;
				padding: 10px;
				.box-five-name{
					font-family: Helvetica;
					font-size: 14px;
					color: #48556A;
					margin-bottom: 5px;
				}
				.box-five-title{
					color: #bdbdbd;
					font-family: Helvetica;
					font-size: 12px;
				}	
				}
			img{
				width:50px;
				border-radius: 50%;
				border: solid #cccbcc 2px;
			}
		}
			}
			.grid-box-six{
				background:#F7ECF8;
				width: 100vw;
				height: 70vh;
			}
	}	
}

/* 2. Content ================================= */

